.root {
}

#buyTowerButton {
    -fx-background-image: url('/buyTower.png');
}
#buyTowerButton:hover {
    -fx-background-image: url('/buyTowerHover.png');
}

#removeTowerButton {
    -fx-background-image: url('/removeTower.png');
}
#removeTowerButton:hover {
    -fx-background-image: url('/removeTowerHover.png');
}

#upgradeTowerButton {
    -fx-background-image: url('/upgradeTower.png');
}
#upgradeTowerButton:hover {
    -fx-background-image: url('/upgradeTowerHover.png');
}

#timeLabel {
    -fx-font-size: 50;
}